@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=VT323&display=swap');

.App {
  text-align: center;
  height: auto;
  font-family: 'Poppins';
  background-image: url('./assets/backgroundImg.svg');
  background-size: cover;
  padding-bottom: 4rem;
}
.modal {
  font-family: 'Poppins';
}

.user_text {
  font-family: "League Gothic", sans-serif;
  font-size: 50px;
  padding-bottom: 1rem;
}

.navbar_brand {
  font-family: "League Gothic", sans-serif;
  font-size: 30px;
  color:#DFE0E3 !important;
  cursor: pointer;
  letter-spacing: 2px;
}
.form {
  border-radius: 15px;
  -webkit-box-shadow: 0px 9px 8px 2px rgba(0,0,0,0.82);
  -moz-box-shadow: 0px 9px 8px 2px rgba(0,0,0,0.82);
  box-shadow: 0px 9px 8px 2px rgba(0,0,0,0.82);
}
.card {
  width: 21rem !important;
  transition: 0.4s ease-in-out;
  background: rgba( 227, 228, 231, 0.05 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.card:hover {
  -webkit-box-shadow: 0px 9px 8px 2px rgba(0,0,0,0.82);
  -moz-box-shadow: 0px 9px 8px 2px rgba(0,0,0,0.82);
  box-shadow: 0px 9px 8px 2px rgba(0,0,0,0.82);
}
.navbar {
  border: 1px solid black;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );  
}
.nav_home {
  color:#DFE0E3 !important;
  transition: 0.3s ease-in-out;
}
.nav_home:hover {
  color: #aaaaaa !important;
}

.modal_delete {
 background-color: #6C757D;
} 

.no_usertext {
  font-family: "League Gothic", sans-serif;
  font-size: 60px;

}

.icon_file {
  margin-left: 10px;
  -webkit-animation: icon_file 2s infinite linear;
  animation: icon_file 2s infinite linear;
}

@-webkit-keyframes icon_file {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes icon_file {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}